<div class="wrapper wrapper-content  animated fadeInRight">
  <div class="row">
    <div class="col-sm-8">
      <div class="ibox">
        <div class="ibox-content">
          <!-- <span class="text-muted small pull-right">Last modification: <i class="fa fa-clock-o"></i> 2:10 pm - 12.06.2014</span> -->
          <h2>Painel de Títulos</h2>
          <p>Navegue entre os títulos disponíveis. Clique no Cedente para ver detalhes do título.</p>
          <div class="clients-list">
            <ul class="nav nav-tabs">
              <!-- <span class="pull-right small text-muted">1406 Elements</span> -->
              <li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-user"></i>Disponíveis</a></li>
              <li class=""><a data-toggle="tab" href="#tab-2"><i class="fa fa-briefcase"></i>Comprados</a></li>

              <li class="pull-right"><a id="checkout-batch" class="btn btn-primary disabled">Comprar em massa</a></li>

            </ul>
            <div class="tab-content">
              <div id="tab-1" class="tab-pane active">
                <div class="full-height-scroll">
                  <div class="table-responsive">
                    <table class="table table-striped table-hover table-fixed">
                      <tbody>
                        <thead>
                          <tr>
                            <th scope="col"></th>
                            <th scope="col">Prazo</th>
                            <th scope="col">Valor Face</th>
                            <th scope="col">Fator + Ad</th>
                            <th scope="col">Taxa Bruta</th>
                          </tr>
                        </thead>
                        <% @offered_invoices.each do |invoice| %>
                          <%= render 'invoice_table_item', invoice: invoice %>
                        <% end %>
                      </tbody>
                    </table>
                    <caption>Painel de Títulos</caption>
                  </div>
                </div>
              </div>
              <div id="tab-2" class="tab-pane">
                <div class="full-height-scroll">
                  <div class="table-responsive">
                    <table class="table table-striped table-hover table-fixed">
                      <tbody>
                        <thead>
                          <tr>
                            <th scope="col"></th>
                            <th scope="col">Valor</th>
                            <th scope="col">Prazo</th>
                            <th scope="col">Dias</th>
                            <th scope="col">Taxa</th>
                          </tr>
                        </thead>
                        <% @purchased_invoices.each do |invoice| %>
                          <%= render 'invoice_table_item', { invoice: invoice, gross_interest: @gross_interest } %>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="ibox ">
        <div id="invoice-panel" class="ibox-content">
          Selecione um invoice
        </div>
      </div>
    </div>
  </div>
</div>
