<div class="row border-bottom white-bg">
  <nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-header">
      <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
        <i class="fa fa-reorder"></i>
      </button>
      <a class="navbar-brand">Advalori</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Títulos', invoices_path %></li>
        <li><%= link_to 'Clientes', sellers_path %></li>
      </ul>
      <ul class="nav navbar-top-links navbar-right">
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            Sair <i class="fa fa-sign-out"> </i>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
</div>
